.gpt3__whatgpt3{
    display: flex;
    flex-direction: column;
    padding:2rem;
    width: 1300px;
    height: 450px;
    background: var(--color-footer);
    margin: 5em;
  

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 100% 88%, rgba(25, 119, 223, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 100% 88%, rgba(25, 119, 223, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 100% 88%, rgba(25, 119, 223, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 100% 88%, rgba(25, 119, 223, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 100% 88%, rgba(25, 119, 223, 1) 0%, rgba(4, 12, 24, 1) 100%);

}
.gpt3__whatgpt3-feature{
    display: flex;
}
.gpt3__whatgpt3-feature.gpt3__whatgpt3-feature-container__feature{
    margin: 0;

}
.gpt3__whatgpt3-feature.gpt3__whatgpt3-feature-container__feature{
    max-width: 700px;

}
.gpt3__whatgpt3-heading{
    display: flex;
    justify-content: space-between;
   flex-direction:row; 
   margin: 4rem 0 2rem;
    align-items: center;
}
.gpt3__whatgpt3-heading h1{

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 45px;
background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;


}
.gpt3__whatgpt3-heading p{

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 45px;
    color: #FF8A71 ;
} 
.gpt3__whatgpt3-container{
    display: flex;
    flex-direction: row;
    
}
.gpt3__whatgpt3-container text {
    margin-right: 200rem;
}